.clients-list {
  margin-bottom: -30px;

  &__item {
    height: 92px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    &__item {
      width: calc(100% / 2 - 30px);
      height: 92px;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    &__item {
      width: 226px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item {
      width: 170px;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $inactive-icon-color;
    color: $inactive-icon-color;
    transition: border $animation-cubic, color $animation-cubic;
    &:hover,
    &:focus {
      color: $studio-color;
      border: 1px solid $studio-color;
    }
  }
  &__icon {
    fill: currentColor;
  }
}
