.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity $animation-cubic, visibility $animation-cubic;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: scale(2) rotate(180deg);
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: $primary-color;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px $box-shadow-third, 0px 1px 1px $box-shadow-first,
    0px 2px 1px $box-shadow-second;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform $animation-cubic;
  padding: 40px;
  &__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    border: 1px solid $box-shadow-fourth;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill $animation-cubic, box-shadow $animation-cubic;
    &:hover,
    &:focus {
      box-shadow: 0px 2px 1px 0px $box-shadow-second, 0px 1px 1px 0px $box-shadow-first,
        0px 1px 3px 0px $box-shadow-third;
      fill: $studio-color;
    }
    &:active {
      box-shadow: none;
    }
  }
  &__title {
    @include font($fw: bold, $fz: 20px, $lh: 1.15);
    text-align: center;
    color: $second-studio-color;
    margin-bottom: 12px;
  }
}

.modal-form {
  &__lable {
    @include font($fz: 12px, $ls: 0.01em);
    display: block;
    color: $third-studio-color;
    margin-bottom: 4px;
  }
  &__input-container {
    position: relative;
    margin-bottom: 10px;
    height: 40px;
  }
  &__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: $second-studio-color;
    transform: translateY(-50%);
    transition: fill $animation-cubic;
  }
  &__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid $border-input-color;
    background-color: transparent;
    padding: 12px 12px 12px 42px;
    transition: border-color $animation-cubic;
  }
  &__input {
    &:focus {
      border-color: $studio-color;
    }
    &:focus + .modal-form__input-icon {
      fill: $studio-color;
    }
  }
  &__textarea {
    @include font($ls: 0.01em);
    display: block;
    color: $second-logo-color;
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid $border-input-color;
    border-radius: 4px;
    outline: none;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border-color $animation-cubic;
    &:focus {
      border: 1px solid $studio-color;
    }
    &::placeholder {
      @include font($ls: 0.01em);
      color: $placeholder-color;
    }
  }
  &__field {
    display: flex;
    width: 100%;
    height: 24px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    &-link {
      color: $studio-color;
      text-decoration-skip-ink: none;
    }
  }
  &__check-text {
    @include font($lh: 1.71);
    display: flex;
    color: $third-studio-color;
    align-items: center;
    &::before {
      content: '';
      display: flex;
      width: 16px;
      height: 15px;
      border: 2px solid $second-studio-color;
      border-radius: 2px;
      margin-right: 8px;
      transition: border-color $animation-cubic;
      cursor: pointer;
    }
    &:hover::before,
    &:focus::before {
      border: 2px solid $studio-color;
    }
  }
  &__check:checked + .modal-form__check-text::before {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
}
