$studio-color: #2196f3;
$transperent-studio-color: rgba(33, 150, 243, 0.9);
$main-btn-color: #188ce8;
$second-studio-color: #212121;
$third-studio-color: #757575;
$primary-color: #ffffff;
$second-logo-color: #000000;
$second-background-color: #f5f4fa;
$third-background-color: #2f303a;
$transperent-bg-color: #ffffff1a;
$worcks-bg-color: rgba(47, 48, 58, 0.8);
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$portfolio-border-color: #eeeeee;
$animation-speed: 250ms;
$animation-cubic: $animation-speed cubic-bezier(0.4, 0, 0.2, 1);
$shadow-color: rgba(0, 0, 0, 0.15);
$box-shadow-third: rgba(0, 0, 0, 0.12);
$box-shadow-second: rgba(0, 0, 0, 0.2);
$box-shadow-first: rgba(0, 0, 0, 0.14);
$box-shadow-fourth: rgba(0, 0, 0, 0.1);
$box-shadow-fifth: rgba(0, 0, 0, 0.08);
$box-shadow-sixth: rgba(0, 0, 0, 0.06);
$box-shadow-seventh: rgba(0, 0, 0, 0.16);
$inactive-icon-color: #afb1b8;
$border-input-color: rgba(33, 33, 33, 0.2);
$mailing-border-color: rgba(255, 255, 255, 0.3);
$hero-gradient-color: #2f303a66;
$placeholder-color: rgba(117, 117, 117, 0.5);
$main-font: Roboto;
